<div class="container p-3 my-5 border" id="explaboral">
    <div class="row">
        <div class="col-10">
            <h2>Experiencia laboral</h2> 
            <h5>2017 - actualidad. Empleada en local mayorista.</h5>
            <h5>2015 - 2017. Representante de atención al cliente. AEGIS CC. (Telefónica)</h5>
            <h5>2012 - 2013. Recepcionista en empresa fiduciaria.</h5>
        </div>
        <div class="col-2">
            <i class="bi bi-plus-circle-fill"></i> 
            <i class="bi bi-pencil-fill"></i> <i class="bi bi-trash-fill"></i>
        </div>
    </div>
</div>