<div class="container p-3 my-5 border" id="estudios">
    <div class="row">
        <div class="col-10">
            <h2>Educación</h2>
        </div>
        <div class="col-2">
            <i class="bi bi-plus-circle-fill"></i>
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <img src="../../../assets/APLogo.png">
        </div>
        <div class="col-8">
            <h5>2020 - 2022. Argentina Programa</h5>
            <p>Sé programar (2020)</p>
            <p>Yo Programo (2021-2022)</p>
            <a href="https://www.argentina.gob.ar/produccion/transformacion-digital-y-economia-del-conocimiento/argentina-programa"> Enlace a Argentina Programa></a>
        </div>
        <div class="col-2">
            <i class="bi bi-pencil-fill"></i> <i class="bi bi-trash-fill"></i>
        </div>
    </div>

    <div class="row">
        <div class="col-2" >
           <img src="../../../assets/uns_logo.png">
        </div>
        <div class="col-8">
            <h5>UNS . Licenciatura en Cs. de la Computación. Incompleto (1999 - 2006)</h5>
            <a href="https://cs.uns.edu.ar/~devcs/">Enlace a Dpto Computación UNS</a>
        </div>
        <div class="col-2">
            <i class="bi bi-pencil-fill"></i> <i class="bi bi-trash-fill"></i>
        </div>
    </div>

    <div class="row">
        <div class="col-2">
           
        </div>
        <div class="col-8">
            <h5>Secundaria. Colegio Nacional n° 1 (1993 - 1998)</h5>
            <h5>Primaria. Escuela n° 34. (1994 - 1998)</h5>
        </div>
        <div class="col-2">
            <i class="bi bi-pencil-fill"></i> <i class="bi bi-trash-fill"></i>
        </div>
    </div>
</div>