<div>
    <app-logo-ap></app-logo-ap>

    <div class="container p-3 my-5 border bg-dark text-white" id="cont_inicio">
        <img src="../../../assets/fotoPerfilMeli.jpg" class="rounded-circle" id="fotoperfil" alt="Foto perfil Melisa Hermann">
        <i class="bi bi-pencil-fill"></i>
        <h1 id="nombre"> Melisa Hermann</h1>
        <h2>Full stack developer jr.</h2>
        <h4>Bahía Blanca - Prov. Buenos Aires - Argentina</h4>
        <button class="btn btn-primary" type="submit">Me interesa</button>
        <button class="btn btn-primary" type="submit">Añadir sección</button>
        <button class="btn btn-primary" type="submit">Más</button>
    </div>
    
</div>